.contact-section {
  padding: 3rem 1rem;
  background: linear-gradient(to right, #002f4b, #f9d423);
  color: white;
  text-align: center;
  margin-top: 5vh;
}

.contact-section h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.contact-section p {
  font-size: 1.2rem;
  max-width: 600px;
  margin: 0 auto;
}

.contact-section form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
}

.contact-section input,
.contact-section textarea {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.contact-section input[type="submit"] {
  background-color: #f76b1c; 
  color: white;
  border: none;
  cursor: pointer;
  padding: 1rem 2rem;
  transition: background-color 0.3s ease;
}

.contact-section input[type="submit"]:hover {
  background-color: #f94d50; 
}


/* styles.css wrapper formulaire */

